# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment
.env
.env.*
!.env.example

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db